[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
waitress = "*"
flask-bcrypt = "*"
cryptography = "*"
bcrypt = "*"
marshmallow = "*"
sqlalchemy = "*"
pymysql = "*"
alembic = "*"
flask-httpauth = "*"

[dev-packages]

[requires]
python_version = "3.7"
